extends layout

block content
	h1 All Users
	table.table
		thead
			tr
				th #
				th Name	
				th Age
				th Email			
				th Username
				th Password
		tbody
			tr
				th(scope='row') 1
				td Neo
				td 28
				td neo@gmail.com
				td neo
				td master
			tr
				th(scope='row') 2
				td M. Shanawar khan
				td 313
				td shanawar123@gmail.com
				td shanawar
				td shadow123

			tr
				th(scope='row') 3
				td Shahan M Khan
				td 26
				td shahankhan90@gmail.com
				td shahan
				td acer123
			
